<md-sidenav-container>
    <md-sidenav #sidenav>
        <nav>
            <li>
                <a [routerLink]=" ['./'] "
                    routerLinkActive="active" 
                    (click)="sidenav.close()"
                    [routerLinkActiveOptions]= "{exact: true}">
                    Home
                </a>
            </li>
            <li>
                <a [routerLink]=" ['./settings'] "
                    routerLinkActive="active" 
                    (click)="sidenav.close()"
                    [routerLinkActiveOptions]= "{exact: true}">
                    Settings
                </a>
            </li>
            <li>
                <a [routerLink]=" ['./about'] "
                    routerLinkActive="active" 
                    (click)="sidenav.close()"
                    [routerLinkActiveOptions]= "{exact: true}">
                    About
                </a>
            </li>
        </nav>
    </md-sidenav>

    <md-toolbar>
        <button md-mini-fab class="pool-toolbar-button" (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
        <span>{{title}}</span>
    </md-toolbar>

    <main style="height: 3000px">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <span>WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
      <div>
        <a [href]="url">
          <img [src]="angularclassLogo" width="25%">
        </a>
      </div>
    </footer>
</md-sidenav-container>